body{
    font-family: 'Courier New', 'Lucida Console', monospace;
    color: black;
    width: 60%;
    margin: auto;
    text-align: left;
}

a{
    text-decoration: none;
    color: black;
}

.pic {
    text-align: center;
}

.pic img {
    height: 600px;
    width: 600px;
    object-fit: cover;
    padding: 5px;
}

#title {
    font-family: 'Monaco', 'Lucida Console', monospace;
    font-weight: 900;
    text-align: center;
    font-size: 450%;
    margin-top: 0%;
}
